In [1]:
import requests
from lxml import etree, html
import json, pandas as pd
import pandasql as ps
import os
import sys
# 메모리 초기화
sys.stdout.flush()

# 공공데이터포털(생활기상지수)

In [ ]:
weather = pd.read_csv('/Users/HIT/Desktop/weather.csv', encoding='utf-8')
print('Weather Rows :', weather.shape[0], 'Columns :', weather.shape[1])
weather.head()

In [ ]:
# 불쾌지수(Temperature Humidity Index)
weather['hm_idx'] = ((9/5) * (weather['avg_temp'])) - 0.55*(1- (weather['avg_rhm']/100)) * ((9/5) * (weather['avg_temp']) - 26) + 32

# 화씨(Fahrenheit)
weather['avg_tempF'] = (weather['avg_temp'] * (9/5)) + 32

# 부패지수(Rottenness Index)
weather['rot_idx'] = (((weather['avg_rhm'] * weather['avg_temp']) - 65) / 14) * (1.054 ** weather['avg_temp'])
# 체감온도(Sensible Temperature)
# (13.12 + (0.6215 * weather['avg_temp'])
#  - 11.37 * (weather['avg_ws'] ** 0.15) + 0.3965 * ((weather['avg_ws'] ** 0.15) * weather['avg_temp'])
# )
# 열지수(Heat Index)
# T = weather['avg_tempF']
# R = weather['avg_rhm']/100

# heat_idx = (-42.379 + (2.04901523*T) + (10.14333127 * R) - 0.22475541 * (T * R)
#             - 6.83783 * ((10 ** -3)*(T ** 2)) - 5.481717 * ((10 ** -2) * (R ** 2))
#             + 1.22874 * ((10 ** -3) * (T ** 2) * (R)) + 8.5282 * ((10 ** -4) * (T)
#             * (R ** 2)) - 1.99 * ((10 ** -6) * (T ** 2) * (R ** 2)))

# weather['heat_idx'] = heat_idx

# 동파가능지수(Frozen Index)
# 기온 -15도 미만(최소기온)
# 기온 -15도 이상 -10도 미만(최소기온) 2
# 기온 -10도 이상 -5도 미만(최소기온) 3
# 기온 -5도 이상(최소기온) 4
#
# 상세화
# 기온 -5도 미만(최소기온) 1
# 기온 -5도 미만(평균기온) 2
# 기온 -5도 이하 기온 -10도 미만(최소기온) 3
# 기온 -5도 이하 기온 -10도 미만(평균기온) 4
# 기온 -10도 이하 기온 -15도 미만(최소기온) 5
# 기온 -10도 이하 기온 -15도 미만(평균기온) 6
# 기온 -15도 이하(최소기온) 7
# 기온 -15도 이하(평균기온) 8

# for i in range(weather.shape[0]-1) :
#     if weather.iloc[i, 7] > -5.0 :
#         weather.loc[i, 'fro_idx'] = 1
#     elif (weather.iloc[i, 6] <= -5.0) and (weather.iloc[i, 6] > -10.0) :
#         weather.loc[i,'fro_idx'] = 2
#     elif (weather.iloc[i, 7] <= -5.0) and (weather.iloc[i, 7] > -10.0) :
#         weather.loc[i,'fro_idx'] = 3
#     elif (weather.iloc[i, 6] <= -10.0) and (weather.iloc[i, 6] > -15.0) :
#         weather.loc[i,'fro_idx'] = 4
#     elif (weather.iloc[i, 7] <= -10.0) and (weather.iloc[i, 7] > -15.0) :
#         weather.loc[i,'fro_idx'] = 5
#     elif (weather.iloc[i, 6] <= -15.0) :
#         weather.loc[i,'fro_idx'] = 6
#     elif (weather.iloc[i, 7] <= -15.0) :
#         weather.loc[i,'fro_idx'] = 7
        
        
# weather[weather['avg_temp'] <= -15]

In [ ]:
weather.head()

In [ ]:
# 1.1	79.0
(1.1 * 79 -65)/14
# 1.5642857142857147*

1.054 ** 1.1
1.054 ** 24.1
weather[weather['tm'] >=20160701]

1.054 ** 24.1

(24.1 * 0.923) -65

-42.7557/14
3.0539785714285714 * 3.551883577087921

# 1.054 ** 24.1

## Contents

In [9]:
# pre = pd.read_csv('/Users/HIT/Downloads/2016/201604.csv', encoding='euc-kr')
# pre = pd.read_excel('/Users/HIT/Downloads/2017/2017년 4분기.xlsx', encoding='euc-kr')
pre = pd.read_excel('/Users/HIT/Downloads/2018/201804.xlsx', encoding='euc-kr')
print(pre.shape)
pre.head()

(849878, 12)

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 중구,도시대기,111121,중구,2018100101,0.002,0.3,0.035,0.012,11.0,6.0,서울특별시 중구 덕수궁길 15
1,서울 중구,도시대기,111121,중구,2018100102,0.002,0.3,0.037,0.009,12.0,7.0,서울특별시 중구 덕수궁길 15
2,서울 중구,도시대기,111121,중구,2018100103,0.002,0.3,0.039,0.006,11.0,8.0,서울특별시 중구 덕수궁길 15
3,서울 중구,도시대기,111121,중구,2018100104,0.002,0.3,0.036,0.008,13.0,8.0,서울특별시 중구 덕수궁길 15
4,서울 중구,도시대기,111121,중구,2018100105,0.003,0.3,0.034,0.009,13.0,9.0,서울특별시 중구 덕수궁길 15

In [10]:
list(pre['지역'].unique())

['서울 중구',
 '서울 용산구 ',
 '서울 종로구 ',
 '서울 중구 청',
 '서울 광진구 ',
 '서울 성동구 ',
 '서울 중랑구 ',
 '서울 동대문구',
 '서울 성북구 ',
 '서울 도봉구 ',
 '서울 은평구 ',
 '서울 서대문구',
 '서울 마포구 ',
 '서울 강서로 ',
 '서울 강서구 ',
 '서울 구로구 ',
 '서울 영등포구',
 '서울 동작구 ',
 '서울 관악구 ',
 '서울 강남구 ',
 '서울 서초구 ',
 '서울 송파구 ',
 '서울 강동구 ',
 '서울 금천구 ',
 '서울 금천구',
 '서울 강북구 ',
 '서울 양천구 ',
 '서울 노원구 ',
 '경기 수원시',
 '경기 성남시',
 '경기 의정부시',
 '경기 안양시',
 '경기 광명시',
 '경기 안산시',
 '경기 과천시',
 '경기 구리시',
 '경기 의왕시',
 '경기 시흥시',
 '경기 남양주시',
 '경기 평택시',
 '경기 파주시',
 '경기 고양시',
 '경기 광주시',
 '경기 용인시',
 '경기 이천시',
 '경기 포천시',
 '경기 김포시',
 '경기 군포시',
 '경기 오산시',
 '경기 하남시',
 '경기 화성시',
 '경기 양주시',
 '경기 동두천시',
 '경기 안성시',
 '경기 여주시',
 '경기 연천군',
 '경기 가평군',
 '경기 양평군',
 '강원 춘천시',
 '강원 양구군',
 '부산 중구',
 '부산 동구',
 '부산 영도구',
 '부산 부산진구',
 '부산 동래구',
 '부산 남구',
 '부산 사상구',
 '부산 북구',
 '부산 금정구',
 '부산 해운대구',
 '부산 사하구',
 '부산 강서구',
 '부산 연제구',
 '부산 기장군',
 '부산 수영구',
 '부산 서구',
 '경남 창원시',
 '울산 동구',
 '울산 중구',
 '울산 남구',
 '울산 울주군',
 '울산 북구',
 '경남 진주시',
 '경남 하동군',
 '경남 김해시',
 '경남 거제시',
 '경남 사천시',
 '경남 양산시',
 '경남 밀양시',
 '경남 통영시',
 '경남 고성군',
 '경남 거창군',
 '경남 함안군',
 '경남 함양군',
 '경남 남해군',
 '광주 동구',
 '광주 서구',
 '광주 북구',
 '광주 광산구',
 '광주 남구',
 '전북 전주시',
 '전남 목포시',
 '전남 여수시',
 '전남 순천시',
 '전남 나주시',
 '전남 담양군',
 '전남 장성군',
 '전남 광양시',
 '전남 해남읍',
 '전남 영암군',
 '전남 화순군',
 '전남 영광군',
 '전남 장흥군',
 '제주 제주',
 '제주 서귀포',
 '제주 서귀포시',
 '대구 중구',
 '대구 수성구',
 '대구 동구',
 '대구 서구',
 '대구 남구',
 '대구 북구',
 '대구 달서구',
 '대구 달성군',
 '경북 포항시',
 '경북 경주시',
 '경북 김천시',
 '경북 안동시',
 '경북 구미시',
 '경북 영주시',
 '경북 경산시',
 '경북 상주시',
 '경북 칠곡군',
 '경북 영덕군',
 '경북 영천시',
 '경북 의성군',
 '경북 울릉군',
 '대전 대덕구',
 '대전 중구',
 '대전 유성구',
 '대전 동구',
 '대전 서구',
 '충북 청주시',
 '충남 천안시',
 '충남 공주시',
 '충남 부여군',
 '충남 서산시',
 '충남 당진시\r\n',
 '충남 아산시',
 '충남 논산시',
 '충남 태안군',
 '충남 예산군',
 '충남 보령시',
 '충남 홍성군',
 '충남 금산군',
 '충남 청양군',
 '충남 계룡시',
 '세종 세종시',
 '세종 부강면',
 '강원 원주시',
 '강원 강릉시',
 '강원 동해시',
 '강원 삼척시',
 '강원 평창군',
 '강원 정선군',
 '강원 고성군',
 '강원 횡성군',
 '강원 양양군',
 '강원 철원군',
 '충북 충주시',
 '충북 제천시',
 '전북 군산시',
 '전북 익산시',
 '전북 정읍시',
 '전북 남원시',
 '전북 고창군',
 '전북 부안군',
 '전북 김제시',
 '전북 완주군',
 '전북 진안군',
 '전북 임실군',
 '전북 무주군',
 '전북 순창군',
 '전북 장수군',
 '충남 서천군',
 '인천 중구',
 '인천 동구',
 '인천 남동구',
 '인천 남구',
 '인천 부평구',
 '인천 서구',
 '인천 계양구',
 '인천 강화군',
 '인천 연수구',
 '인천 서구\r\n',
 '인천 연수구\r\n',
 '경기 부천시',
 '인천 옹진군']

In [11]:
sql = '''
select * 
from pre
where 지역 in
('서울 중구','서울 용산구 '
,'서울 종로구 ','서울 광진구 '
,'서울 성동구 ','서울 중랑구 ','서울 동대문구','서울 성북구 '
,'서울 도봉구 ','서울 은평구 ','서울 서대문구'
,'서울 마포구 ','서울 강서구 '
,'서울 구로구 ','서울 영등포구','서울 동작구 ','서울 관악구 ','서울 강남구 '
,'서울 서초구 ','서울 송파구 ','서울 강동구 '
,'서울 금천구 ','서울 강북구 ','서울 양천구 ','서울 노원구 ','경기 수원시','경기 성남시'
,'경기 의정부시','경기 안양시','경기 광명시'
,'경기 안산시','경기 과천시','경기 구리시'
,'경기 의왕시','경기 시흥시','경기 남양주시'
,'경기 평택시','경기 파주시','경기 고양시','경기 광주시'
,'경기 용인시','경기 이천시','경기 포천시'
,'경기 김포시','경기 군포시','경기 오산시'
,'경기 하남시','경기 화성시','경기 양주시'
,'경기 동두천시','경기 안성시'
,'경기 여주시','경기 연천군'
,'경기 가평군','경기 양평군'
,'인천 중구','인천 동구','인천 남동구'
,'인천 남구','인천 부평구'
,'인천 서구','인천 계양구','인천 강화군'
,'인천 연수구','경기 부천시','인천 옹진군', '서울'
)
'''

out = ps.sqldf(sql)

In [12]:
out['지역'].unique()

array(['서울 중구', '서울 용산구 ', '서울 종로구 ', '서울 광진구 ', '서울 성동구 ', '서울 중랑구 ',
       '서울 동대문구', '서울 성북구 ', '서울 도봉구 ', '서울 은평구 ', '서울 서대문구', '서울 마포구 ',
       '서울 강서구 ', '서울 구로구 ', '서울 영등포구', '서울 동작구 ', '서울 관악구 ', '서울 강남구 ',
       '서울 서초구 ', '서울 송파구 ', '서울 강동구 ', '서울 금천구 ', '서울 강북구 ', '서울 양천구 ',
       '서울 노원구 ', '경기 수원시', '경기 성남시', '경기 의정부시', '경기 안양시', '경기 광명시',
       '경기 안산시', '경기 과천시', '경기 구리시', '경기 의왕시', '경기 시흥시', '경기 남양주시',
       '경기 평택시', '경기 파주시', '경기 고양시', '경기 광주시', '경기 용인시', '경기 이천시',
       '경기 포천시', '경기 김포시', '경기 군포시', '경기 오산시', '경기 하남시', '경기 화성시',
       '경기 양주시', '경기 동두천시', '경기 안성시', '경기 여주시', '경기 연천군', '경기 가평군',
       '경기 양평군', '인천 중구', '인천 동구', '인천 남동구', '인천 남구', '인천 부평구', '인천 서구',
       '인천 계양구', '인천 강화군', '인천 연수구', '경기 부천시', '인천 옹진군'], dtype=object)

In [15]:
print(out.shape)
out.head()

(328248, 12)

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 중구,도시대기,111121,중구,2018100101,0.002,0.3,0.035,0.012,11.0,6.0,서울특별시 중구 덕수궁길 15
1,서울 중구,도시대기,111121,중구,2018100102,0.002,0.3,0.037,0.009,12.0,7.0,서울특별시 중구 덕수궁길 15
2,서울 중구,도시대기,111121,중구,2018100103,0.002,0.3,0.039,0.006,11.0,8.0,서울특별시 중구 덕수궁길 15
3,서울 중구,도시대기,111121,중구,2018100104,0.002,0.3,0.036,0.008,13.0,8.0,서울특별시 중구 덕수궁길 15
4,서울 중구,도시대기,111121,중구,2018100105,0.003,0.3,0.034,0.009,13.0,9.0,서울특별시 중구 덕수궁길 15

In [16]:
# out.to_csv('/Users/HIT/미세먼지/201604.csv', encoding='utf-8')
# out.to_csv('/Users/HIT/미세먼지/201704.csv', encoding='utf-8')
out.to_csv('/Users/HIT/미세먼지/201804.csv', encoding='utf-8')

In [17]:
# postgreDB 연동
import psycopg2

conn_string = "host='localhost' dbname ='postgres' user='analytics' password='analytics!@#'"
conn = psycopg2.connect(conn_string)
cur = conn.cursor()

In [18]:
pgsql = "select pvn_nm, bor_nm from public.sales_data group by pvn_nm, bor_nm order by 1, 2"

# CREATE, ALTER, INSERT, UPDATE, DELETE 등
# cur.execute()
# conn.commit()

In [19]:
cur.execute(pgsql)
result = cur.fetchall()
result

[('경기도', '가평군양평군'),
 ('경기도', '고양시'),
 ('경기도', '과천시'),
 ('경기도', '광명시'),
 ('경기도', '광주시'),
 ('경기도', '구리시'),
 ('경기도', '군포시'),
 ('경기도', '김포시'),
 ('경기도', '남양주시'),
 ('경기도', '동두천시'),
 ('경기도', '부천시'),
 ('경기도', '성남시'),
 ('경기도', '수원시'),
 ('경기도', '시흥시'),
 ('경기도', '안산시'),
 ('경기도', '안양시'),
 ('경기도', '양주시'),
 ('경기도', '여주시이천시'),
 ('경기도', '연천군포천군'),
 ('경기도', '오산시안성시평택시'),
 ('경기도', '용인시'),
 ('경기도', '의왕시'),
 ('경기도', '의정부시'),
 ('경기도', '이천시'),
 ('경기도', '파주시'),
 ('경기도', '평택시'),
 ('경기도', '하남시'),
 ('경기도', '화성시'),
 ('서울특별시', '강남구'),
 ('서울특별시', '강동구'),
 ('서울특별시', '강북구'),
 ('서울특별시', '강서구'),
 ('서울특별시', '관악구'),
 ('서울특별시', '광진구'),
 ('서울특별시', '구로구'),
 ('서울특별시', '금천구'),
 ('서울특별시', '노원구'),
 ('서울특별시', '도봉구'),
 ('서울특별시', '동대문구'),
 ('서울특별시', '동작구'),
 ('서울특별시', '마포구'),
 ('서울특별시', '서대문구'),
 ('서울특별시', '서초구'),
 ('서울특별시', '성동구'),
 ('서울특별시', '성북구'),
 ('서울특별시', '송파구'),
 ('서울특별시', '양천구'),
 ('서울특별시', '영등포구'),
 ('서울특별시', '용산구'),
 ('서울특별시', '은평구'),
 ('서울특별시', '종로구'),
 ('서울특별시', '중구'),
 ('서울특별시', '중랑구'),
 ('인천광역시', '강화군'),
 ('인천광역시', '계양구'),
 ('인천광역시', '남동구'),
 ('인천광역시', '동구'),
 ('인천광역시', '미추홀구'),
 ('인천광역시', '부평구'),
 ('인천광역시', '서구'),
 ('인천광역시', '연수구'),
 ('인천광역시', '옹진군'),
 ('인천광역시', '중구')]

### 2016년 데이터 셋

In [20]:
files = os.listdir('/Users/HIT/미세먼지')
default_path = '/Users/HIT/미세먼지/'

year_2_1 = pd.read_csv(default_path+files[0], engine='python', encoding='utf-8')
year_2_2 = pd.read_csv(default_path+files[1], engine='python', encoding='utf-8')
year_2_3 = pd.read_csv(default_path+files[2], engine='python', encoding='utf-8')
year_2_4 = pd.read_csv(default_path+files[3], engine='python', encoding='utf-8')
print('1 / Quater', year_2_1.shape)
print('2 / Quater', year_2_2.shape)
print('3 / Quater', year_2_3.shape)
print('4 / Quater', year_2_4.shape)
year_2_1.head()

1 / Quater (307944, 12)
2 / Quater (307944, 12)
3 / Quater (311328, 12)
4 / Quater (313536, 12)

,Unnamed: 0,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,0,경기 가평군,131611,가평읍,2016010101,0.004,0.7,0.007,0.014,70.0,NaN,경기 가평군 가평읍 석봉로 181
1,1,경기 가평군,131611,가평읍,2016010102,0.004,0.7,0.007,0.012,70.0,NaN,경기 가평군 가평읍 석봉로 181
2,2,경기 가평군,131611,가평읍,2016010103,0.004,0.7,0.007,0.011,73.0,NaN,경기 가평군 가평읍 석봉로 181
3,3,경기 가평군,131611,가평읍,2016010104,0.004,0.7,0.007,0.011,68.0,NaN,경기 가평군 가평읍 석봉로 181
4,4,경기 가평군,131611,가평읍,2016010105,0.004,0.7,0.006,0.013,75.0,NaN,경기 가평군 가평읍 석봉로 181

In [23]:
files[0:4]

['201601.csv', '201602.csv', '201603.csv', '201604.csv']

In [24]:
merge_2016 = pd.concat([year_2_1, year_2_2, year_2_3, year_2_4])
# 건수 검증
print(merge_2016.shape[0] == (year_2_1.shape[0] + year_2_2.shape[0] + year_2_3.shape[0] + year_2_4.shape[0]))
print(merge_2016.shape)
merge_2016 = merge_2016.iloc[:,1:]
merge_2016.head()

True
(1240752, 12)

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,경기 가평군,131611,가평읍,2016010101,0.004,0.7,0.007,0.014,70.0,NaN,경기 가평군 가평읍 석봉로 181
1,경기 가평군,131611,가평읍,2016010102,0.004,0.7,0.007,0.012,70.0,NaN,경기 가평군 가평읍 석봉로 181
2,경기 가평군,131611,가평읍,2016010103,0.004,0.7,0.007,0.011,73.0,NaN,경기 가평군 가평읍 석봉로 181
3,경기 가평군,131611,가평읍,2016010104,0.004,0.7,0.007,0.011,68.0,NaN,경기 가평군 가평읍 석봉로 181
4,경기 가평군,131611,가평읍,2016010105,0.004,0.7,0.006,0.013,75.0,NaN,경기 가평군 가평읍 석봉로 181

In [25]:
list(merge_2016['지역'].unique())

['경기 가평군',
 '경기 고양시',
 '경기 과천시',
 '경기 광명시',
 '경기 광주시',
 '경기 구리시',
 '경기 군포시',
 '경기 김포시',
 '경기 남양주시',
 '경기 동두천시',
 '경기 부천시',
 '경기 성남시',
 '경기 수원시',
 '경기 시흥시',
 '경기 안산시',
 '경기 안성시',
 '경기 안양시',
 '경기 양주시',
 '경기 양평군',
 '경기 여주시',
 '경기 연천군',
 '경기 오산시',
 '경기 용인시',
 '경기 의왕시',
 '경기 의정부시',
 '경기 이천시',
 '경기 파주시',
 '경기 평택시',
 '경기 포천시',
 '경기 하남시',
 '경기 화성시',
 '서울',
 '인천 강화군',
 '인천 계양구',
 '인천 남구',
 '인천 남동구',
 '인천 동구',
 '인천 부평구',
 '인천 서구',
 '인천 연수구',
 '인천 옹진군',
 '인천 중구']

In [26]:
merge_2016_sql = """
select 지역
     , 측정소코드
     , 측정소명
     , substr(측정일시,1,8) as 측정일자
     , 주소
     , avg(SO2)  as SO2
     , avg(CO)   as CO
     , avg(O3)   as O3
     , avg(NO2)  as N02
     , avg(PM10) as PM10
     , avg(PM25) as PM25
  from merge_2016
group by 
       지역
     , 측정소코드
     , 측정소명
     , substr(측정일시,1,8)
     , 주소
  
"""
grouping_2016 = ps.sqldf(merge_2016_sql)
print(grouping_2016.shape)
grouping_2016.head()

(51698, 11)

,지역,측정소코드,측정소명,측정일자,주소,SO2,CO,O3,N02,PM10,PM25
0,경기 가평군,131611,가평읍,20160101,경기 가평군 가평읍 석봉로 181,0.005000,0.683333,0.007000,0.019792,70.666667,NaN
1,경기 가평군,131611,가평읍,20160102,경기 가평군 가평읍 석봉로 181,0.006208,0.733333,0.004792,0.024458,71.958333,NaN
2,경기 가평군,131611,가평읍,20160103,경기 가평군 가평읍 석봉로 181,0.006542,0.820833,0.007625,0.021042,85.208333,NaN
3,경기 가평군,131611,가평읍,20160104,경기 가평군 가평읍 석봉로 181,0.006917,0.533333,0.024125,0.013833,78.208333,NaN
4,경기 가평군,131611,가평읍,20160105,경기 가평군 가평읍 석봉로 181,0.006375,0.416667,0.017125,0.014958,38.375000,NaN

## 2017년 데이터셋

In [27]:
year_3_1 = pd.read_csv(default_path+files[4], engine='python', encoding='utf-8')
year_3_2 = pd.read_csv(default_path+files[5], engine='python', encoding='utf-8')
year_3_3 = pd.read_csv(default_path+files[6], engine='python', encoding='utf-8')
year_3_4 = pd.read_csv(default_path+files[7], engine='python', encoding='utf-8')
print('1 / Quater', year_3_1.shape)
print('2 / Quater', year_3_2.shape)
print('3 / Quater', year_3_3.shape)
print('4 / Quater', year_3_4.shape)
year_3_1.head()

1 / Quater (302400, 12)
2 / Quater (307224, 12)
3 / Quater (311328, 12)
4 / Quater (312792, 12)

,Unnamed: 0,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,0,서울 중구,111121,중구,2017010101,0.006,1.3,0.002,0.068,77.0,63.0,서울 중구 덕수궁길 15
1,1,서울 중구,111121,중구,2017010102,0.006,1.4,0.002,0.066,76.0,63.0,서울 중구 덕수궁길 15
2,2,서울 중구,111121,중구,2017010103,0.005,1.2,0.002,0.063,73.0,57.0,서울 중구 덕수궁길 15
3,3,서울 중구,111121,중구,2017010104,0.005,1.1,0.002,0.053,67.0,55.0,서울 중구 덕수궁길 15
4,4,서울 중구,111121,중구,2017010105,0.004,1.1,0.002,0.051,66.0,54.0,서울 중구 덕수궁길 15

In [32]:
files[4:8]

['201701.csv', '201702.csv', '201703.csv', '201704.csv']

In [33]:
merge_2017 = pd.concat([year_3_1, year_3_2, year_3_3, year_3_4])
# 건수 검증
print(merge_2017.shape[0] == (year_3_1.shape[0] + year_3_2.shape[0] + year_3_3.shape[0] + year_3_4.shape[0]))
print(merge_2017.shape)
merge_2017 = merge_2017.iloc[:,1:]
merge_2017.head()

True
(1233744, 12)

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 중구,111121,중구,2017010101,0.006,1.3,0.002,0.068,77.0,63.0,서울 중구 덕수궁길 15
1,서울 중구,111121,중구,2017010102,0.006,1.4,0.002,0.066,76.0,63.0,서울 중구 덕수궁길 15
2,서울 중구,111121,중구,2017010103,0.005,1.2,0.002,0.063,73.0,57.0,서울 중구 덕수궁길 15
3,서울 중구,111121,중구,2017010104,0.005,1.1,0.002,0.053,67.0,55.0,서울 중구 덕수궁길 15
4,서울 중구,111121,중구,2017010105,0.004,1.1,0.002,0.051,66.0,54.0,서울 중구 덕수궁길 15

In [34]:
# bor_val = []
# for i in range(len(result)) :
#     bor_val.append(result[i][0] +' ' + result[i][1])
# bor_val
list(merge_2017['지역'].unique())

['서울 중구',
 '서울 용산구 ',
 '서울 종로구 ',
 '서울 광진구 ',
 '서울 성동구 ',
 '서울 중랑구 ',
 '서울 동대문구',
 '서울 성북구 ',
 '서울 도봉구 ',
 '서울 은평구 ',
 '서울 서대문구',
 '서울 마포구 ',
 '서울 강서구 ',
 '서울 구로구 ',
 '서울 영등포구',
 '서울 동작구 ',
 '서울 관악구 ',
 '서울 강남구 ',
 '서울 서초구 ',
 '서울 송파구 ',
 '서울 강동구 ',
 '서울 금천구 ',
 '서울 강북구 ',
 '서울 양천구 ',
 '서울 노원구 ',
 '경기 수원시',
 '경기 성남시',
 '경기 의정부시',
 '경기 안양시',
 '경기 광명시',
 '경기 안산시',
 '경기 과천시',
 '경기 구리시',
 '경기 의왕시',
 '경기 시흥시',
 '경기 남양주시',
 '경기 평택시',
 '경기 파주시',
 '경기 고양시',
 '경기 광주시',
 '경기 용인시',
 '경기 이천시',
 '경기 포천시',
 '경기 김포시',
 '경기 군포시',
 '경기 오산시',
 '경기 하남시',
 '경기 화성시',
 '경기 양주시',
 '경기 동두천시',
 '경기 안성시',
 '경기 여주시',
 '경기 연천군',
 '경기 가평군',
 '경기 양평군',
 '인천 중구',
 '인천 동구',
 '인천 남동구',
 '인천 남구',
 '인천 부평구',
 '인천 서구',
 '인천 계양구',
 '인천 강화군',
 '인천 연수구',
 '경기 부천시',
 '인천 옹진군']

In [35]:
merge_2017_sql = """
select 지역
     , 측정소코드
     , 측정소명
     , substr(측정일시,1,8) as 측정일자
     , 주소
     , avg(SO2)  as SO2
     , avg(CO)   as CO
     , avg(O3)   as O3
     , avg(NO2)  as N02
     , avg(PM10) as PM10
     , avg(PM25) as PM25
  from merge_2017
group by 
       지역
     , 측정소코드
     , 측정소명
     , substr(측정일시,1,8)
     , 주소
  
"""
grouping_2017 = ps.sqldf(merge_2017_sql)
print(grouping_2017.shape)
grouping_2017.head()

(51406, 11)

,지역,측정소코드,측정소명,측정일자,주소,SO2,CO,O3,N02,PM10,PM25
0,경기 가평군,131611,가평,20170101,경기 가평군 가평읍 석봉로 181,0.003917,0.795833,0.005167,0.021583,97.041667,66.333333
1,경기 가평군,131611,가평,20170102,경기 가평군 가평읍 석봉로 181,0.004917,0.933333,0.014875,0.022667,115.416667,80.875000
2,경기 가평군,131611,가평,20170103,경기 가평군 가평읍 석봉로 181,0.005083,0.900000,0.014208,0.031083,116.375000,70.458333
3,경기 가평군,131611,가평,20170104,경기 가평군 가평읍 석봉로 181,0.005083,0.745833,0.013667,0.026667,76.500000,40.916667
4,경기 가평군,131611,가평,20170105,경기 가평군 가평읍 석봉로 181,0.003958,0.604167,0.019708,0.016667,53.875000,26.208333

## 2018년 데이터셋

In [36]:
year_4_1 = pd.read_csv(default_path+files[8], engine='python', encoding='utf-8')
year_4_2 = pd.read_csv(default_path+files[9], engine='python', encoding='utf-8')
year_4_3 = pd.read_csv(default_path+files[10], engine='python', encoding='utf-8')
year_4_4 = pd.read_csv(default_path+files[11], engine='python', encoding='utf-8')
print('1 / Quater', year_4_1.shape)
print('2 / Quater', year_4_2.shape)
print('3 / Quater', year_4_3.shape)
print('4 / Quater', year_4_4.shape)
year_4_1.head()

1 / Quater (308880, 12)
2 / Quater (313032, 12)
3 / Quater (323808, 13)
4 / Quater (328248, 13)

,Unnamed: 0,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,0,서울 중구,111121,중구,2018010101,0.004,0.5,0.020,0.020,34.0,19.0,서울 중구 덕수궁길 15
1,1,서울 중구,111121,중구,2018010102,0.004,0.4,0.024,0.016,27.0,14.0,서울 중구 덕수궁길 15
2,2,서울 중구,111121,중구,2018010103,0.004,0.4,0.018,0.022,26.0,14.0,서울 중구 덕수궁길 15
3,3,서울 중구,111121,중구,2018010104,0.004,0.5,0.010,0.030,26.0,15.0,서울 중구 덕수궁길 15
4,4,서울 중구,111121,중구,2018010105,0.004,0.6,0.011,0.029,28.0,16.0,서울 중구 덕수궁길 15

In [37]:
# escape 문자 제거
year_4_1['지역'] = year_4_1['지역'].replace('인천 서구\n\n',"인천 서구").replace('인천 연수구\n\n', '인천 연수구')
year_4_2['지역'] = year_4_2['지역'].replace('인천 서구\n\n',"인천 서구").replace('인천 연수구\n\n', '인천 연수구')
year_4_3['지역'] = year_4_3['지역'].replace('인천 서구\n\n',"인천 서구").replace('인천 연수구\n\n', '인천 연수구')
year_4_4['지역'] = year_4_4['지역'].replace('인천 서구\n\n',"인천 서구").replace('인천 연수구\n\n', '인천 연수구')

In [41]:
# 병합 (2018년 3분기부터 스키마 변경, 필요없는 망(도시대기) 제거)
year_4_3.head()
year_4_4.head()
columns_34 =  ['Unnamed: 0', '지역', '측정소코드', '측정소명', '측정일시', 'SO2', 'CO', 'O3',
               'NO2', 'PM10', 'PM25', '주소']
year_4_3 = year_4_3[columns_34]
year_4_4 = year_4_4[columns_34]
merge_2018 = pd.concat([year_4_1, year_4_2, year_4_3, year_4_4])
merge_2018['지역'].unique()

array(['서울 중구', '서울 용산구 ', '서울 종로구 ', '서울 광진구 ', '서울 성동구 ', '서울 중랑구 ',
       '서울 동대문구', '서울 성북구 ', '서울 도봉구 ', '서울 은평구 ', '서울 서대문구', '서울 마포구 ',
       '서울 강서구 ', '서울 구로구 ', '서울 영등포구', '서울 동작구 ', '서울 관악구 ', '서울 강남구 ',
       '서울 서초구 ', '서울 송파구 ', '서울 강동구 ', '서울 금천구 ', '서울 강북구 ', '서울 양천구 ',
       '서울 노원구 ', '경기 수원시', '경기 성남시', '경기 의정부시', '경기 안양시', '경기 광명시',
       '경기 안산시', '경기 과천시', '경기 구리시', '경기 의왕시', '경기 시흥시', '경기 남양주시',
       '경기 평택시', '경기 파주시', '경기 고양시', '경기 광주시', '경기 용인시', '경기 이천시',
       '경기 포천시', '경기 김포시', '경기 군포시', '경기 오산시', '경기 하남시', '경기 화성시',
       '경기 양주시', '경기 동두천시', '경기 안성시', '경기 여주시', '경기 연천군', '경기 가평군',
       '경기 양평군', '인천 중구', '인천 동구', '인천 남동구', '인천 남구', '인천 부평구', '인천 서구',
       '인천 계양구', '인천 강화군', '인천 연수구', '경기 부천시', '인천 옹진군'], dtype=object)

In [42]:
files[8:12]

['201801.csv', '201802.csv', '201803.csv', '201804.csv']

In [43]:
# 건수 검증
print(merge_2018.shape[0] == (year_4_1.shape[0] + year_4_2.shape[0] + year_4_3.shape[0] + year_4_4.shape[0]))
print(merge_2018.shape)
merge_2018.head()

True
(1273968, 12)

,Unnamed: 0,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,0,서울 중구,111121,중구,2018010101,0.004,0.5,0.020,0.020,34.0,19.0,서울 중구 덕수궁길 15
1,1,서울 중구,111121,중구,2018010102,0.004,0.4,0.024,0.016,27.0,14.0,서울 중구 덕수궁길 15
2,2,서울 중구,111121,중구,2018010103,0.004,0.4,0.018,0.022,26.0,14.0,서울 중구 덕수궁길 15
3,3,서울 중구,111121,중구,2018010104,0.004,0.5,0.010,0.030,26.0,15.0,서울 중구 덕수궁길 15
4,4,서울 중구,111121,중구,2018010105,0.004,0.6,0.011,0.029,28.0,16.0,서울 중구 덕수궁길 15

In [44]:
# bor_val = []
# for i in range(len(result)) :
#     bor_val.append(result[i][0] +' ' + result[i][1])
# bor_val
list(merge_2018['지역'].unique())

['서울 중구',
 '서울 용산구 ',
 '서울 종로구 ',
 '서울 광진구 ',
 '서울 성동구 ',
 '서울 중랑구 ',
 '서울 동대문구',
 '서울 성북구 ',
 '서울 도봉구 ',
 '서울 은평구 ',
 '서울 서대문구',
 '서울 마포구 ',
 '서울 강서구 ',
 '서울 구로구 ',
 '서울 영등포구',
 '서울 동작구 ',
 '서울 관악구 ',
 '서울 강남구 ',
 '서울 서초구 ',
 '서울 송파구 ',
 '서울 강동구 ',
 '서울 금천구 ',
 '서울 강북구 ',
 '서울 양천구 ',
 '서울 노원구 ',
 '경기 수원시',
 '경기 성남시',
 '경기 의정부시',
 '경기 안양시',
 '경기 광명시',
 '경기 안산시',
 '경기 과천시',
 '경기 구리시',
 '경기 의왕시',
 '경기 시흥시',
 '경기 남양주시',
 '경기 평택시',
 '경기 파주시',
 '경기 고양시',
 '경기 광주시',
 '경기 용인시',
 '경기 이천시',
 '경기 포천시',
 '경기 김포시',
 '경기 군포시',
 '경기 오산시',
 '경기 하남시',
 '경기 화성시',
 '경기 양주시',
 '경기 동두천시',
 '경기 안성시',
 '경기 여주시',
 '경기 연천군',
 '경기 가평군',
 '경기 양평군',
 '인천 중구',
 '인천 동구',
 '인천 남동구',
 '인천 남구',
 '인천 부평구',
 '인천 서구',
 '인천 계양구',
 '인천 강화군',
 '인천 연수구',
 '경기 부천시',
 '인천 옹진군']

In [45]:
merge_2018_sql = """
select 지역
     , 측정소코드
     , 측정소명
     , substr(측정일시,1,8) as 측정일자
     , 주소
     , avg(SO2)  as SO2
     , avg(CO)   as CO
     , avg(O3)   as O3
     , avg(NO2)  as N02
     , avg(PM10) as PM10
     , avg(PM25) as PM25
  from merge_2018
group by 
       지역
     , 측정소코드
     , 측정소명
     , substr(측정일시,1,8)
     , 주소
  
"""
grouping_2018 = ps.sqldf(merge_2018_sql)
print(grouping_2018.shape)
grouping_2018.head()

(53082, 11)

,지역,측정소코드,측정소명,측정일자,주소,SO2,CO,O3,N02,PM10,PM25
0,경기 가평군,131611,가평,20180101,경기 가평군 가평읍 석봉로 181,0.005167,0.500000,0.020375,0.015042,45.041667,22.083333
1,경기 가평군,131611,가평,20180102,경기 가평군 가평읍 석봉로 181,0.004800,0.500000,0.019700,0.013800,45.750000,25.000000
2,경기 가평군,131611,가평,20180103,경기 가평군 가평읍 석봉로 181,0.005458,0.425000,0.022042,0.014458,29.086957,20.208333
3,경기 가평군,131611,가평,20180104,경기 가평군 가평읍 석봉로 181,0.004792,0.466667,0.017375,0.018167,34.434783,24.500000
4,경기 가평군,131611,가평,20180105,경기 가평군 가평읍 석봉로 181,0.005125,0.550000,0.013000,0.025542,49.571429,36.041667

## 3개년 미세먼지 병합

In [46]:
print(grouping_2016.shape, grouping_2017.shape, grouping_2018.shape)

(51698, 11) (51406, 11) (53082, 11)

In [48]:
## 병합(2016, 2017, 2018)

pm = pd.concat([grouping_2016, grouping_2017,  grouping_2018])
print(pm.shape)
pm.head()

(156186, 11)

,지역,측정소코드,측정소명,측정일자,주소,SO2,CO,O3,N02,PM10,PM25
0,경기 가평군,131611,가평읍,20160101,경기 가평군 가평읍 석봉로 181,0.005000,0.683333,0.007000,0.019792,70.666667,NaN
1,경기 가평군,131611,가평읍,20160102,경기 가평군 가평읍 석봉로 181,0.006208,0.733333,0.004792,0.024458,71.958333,NaN
2,경기 가평군,131611,가평읍,20160103,경기 가평군 가평읍 석봉로 181,0.006542,0.820833,0.007625,0.021042,85.208333,NaN
3,경기 가평군,131611,가평읍,20160104,경기 가평군 가평읍 석봉로 181,0.006917,0.533333,0.024125,0.013833,78.208333,NaN
4,경기 가평군,131611,가평읍,20160105,경기 가평군 가평읍 석봉로 181,0.006375,0.416667,0.017125,0.014958,38.375000,NaN

## 컬럼명 변경

In [49]:
col = ['bor_nm', 'obs_cd', 'obs_nm', 'obs_date', 'adres', 'SO2', 'CO', 'O3', 'N02', 'PM10', 'PM25']
pm.columns = col
pm.head()

,bor_nm,obs_cd,obs_nm,obs_date,adres,SO2,CO,O3,N02,PM10,PM25
0,경기 가평군,131611,가평읍,20160101,경기 가평군 가평읍 석봉로 181,0.005000,0.683333,0.007000,0.019792,70.666667,NaN
1,경기 가평군,131611,가평읍,20160102,경기 가평군 가평읍 석봉로 181,0.006208,0.733333,0.004792,0.024458,71.958333,NaN
2,경기 가평군,131611,가평읍,20160103,경기 가평군 가평읍 석봉로 181,0.006542,0.820833,0.007625,0.021042,85.208333,NaN
3,경기 가평군,131611,가평읍,20160104,경기 가평군 가평읍 석봉로 181,0.006917,0.533333,0.024125,0.013833,78.208333,NaN
4,경기 가평군,131611,가평읍,20160105,경기 가평군 가평읍 석봉로 181,0.006375,0.416667,0.017125,0.014958,38.375000,NaN

## bor_nm, pvn_nm 생성

In [51]:
# 현재는 사용 안함 sql로 대체

# pm['pvn_nm'] = pm.bor_nm.apply(lambda e : e.split()[1])
# pm['bor'] = pm.bor_nm.apply(lambda e : e.split()[0])
# pm.head()

## DDL

In [52]:
# postgreDB 연동
import psycopg2

conn_string = "host='localhost' dbname ='postgres' user='analytics' password='analytics!@#'"
conn = psycopg2.connect(conn_string)
cur = conn.cursor()

In [53]:
# table_ddl = """
# -- 없으면 drop 문 주석 처리 있으면 그냥 수행
# drop table contest.weather_pm;
# create table contest.weather_pm (
#      bor_nm varchar null
#    , obs_cd varchar null
#    , obs_nm varchar null
#    , obs_date varchar null
#    , adres varchar null
#    , SO2 decimal(20,4) null
#    , CO decimal(20,4) null
#    , O3 decimal(20,4) null
#    , N02 decimal(20,4) null
#    , PM10 decimal(20,4) null
#    , PM25 decimal(20,4) null   
# );
# """
# conn.commit()
# cur.execute(table_ddl)
# conn.commit()

## Data Storing

In [54]:
import sqlalchemy  # Package for accessing SQL databases via Python

# Connect to database (Note: The package psychopg2 is required for Postgres to work with SQLAlchemy)
engine = sqlalchemy.create_engine("postgresql://analytics:analytics!@#@localhost:5432/postgres")
con = engine.connect()
table_name = 'weather_pm'

In [55]:
pm.to_sql(table_name, con, if_exists='replace', schema='contest')

In [121]:
# DB session close
con.close()